@model stajprojesi.Models.EntitiyFramework.komisyon
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

@using (Html.BeginForm("Kaydet", "Komisyon", FormMethod.Post))
{

<div class="container">
    <p>Yeni kişi için gerekli kısımları doldurunuz.</p>

    <div class="form-group">
        @Html.Label("Ünvan")
        @Html.TextBoxFor(m => m.unvan, new { @clas = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Ad:")
        @Html.TextBoxFor(m => m.ad, new { @clas = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Soyad:")
        @Html.TextBoxFor(m => m.soyad, new { @clas = "form-control" })
    </div>
    @Html.HiddenFor(m => m.id)
    <button type="submit" class="btn btn-success">Kaydet</button>


   <div style="width:10px; height:120px">
</div>

</div>


}