@using stajprojesi.Models.EntitiyFramework
@model List<staj>
@{

    Layout = "~/Views/Shared/_Layout5.cshtml";
}

<div class="container">
    <a class="btn btn-info">Yeni Mülakat Listesi Hazırlamak İçin Tıklayınız</a>
    <a class="btn btn-info">Önceki Yılların Mülakatları İçin Tıklayınız</a>
    <div style=" width:700px; height:20px;"> </div>
    <table class="table table-bordered" id="asdf">
        <thead>
            <tr>
                <th>Öğrenci No  </th>
                <th>Kurum         Adı   </th>
                <th>Şehir  </th>
                <th>Başlama Tarihi   </th>
                <th>Bitiş Tarihi</th>
                <th>Toplam gün</th>
                <th>Staj Konusu</th>
                <th>Sınıf</th>

                <th>Mülakat</th>
                <th>Çıktı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staj in Model)
            {
                <tr>
                    <td>@staj.ogr_no</td>

                    <td>@staj.kurum_adi</td>
                    <td>@staj.sehir</td>
                    <td>@staj.bas_tarihi</td>
                    <td>
                        @staj.bit_tarihi
                    </td>
                    <td>@staj.toplam_gun</td>
                    <td>@staj.staj_konu</td>
                    <td>@staj.ogr_sinif</td>



                    <td><a class="btn btn-primary" href="/Mulakat/Mulak/@staj.ogr_no">Mülakat Yap</a></td>
                    <td><a class="btn btn-danger" href="/Mulakat/Print">Çıktı Al</a></td>


                </tr>
            }
        </tbody>
    </table>

    <div style="width:10px; height:120px">
</div>

</div>








